$primary-400: #4081fa;
$primary-500: #1260f0;
$primary-600: #0b48b8;

$secondary-400: #f7498c;
$secondary-500: #f01267;
$secondary-600: #c0094f;

$color: #242424;
$label-color: #9b9b9b;
$input-color: #5c5c5c;
$heading-color: #414141;
$background-color: #f5f5f5;
$border-color: #e2e2e2;